<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center" style="margin-bottom:30px">Sign in with</h3>
	<br/>
	<div class="col-md-12 text-center">
		<a href="/auth/github" class="undecorated-link">
			<img height="128" width="128" src="/modules/users/img/buttons/github2.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img height="128" width="128" src="/modules/users/img/buttons/google2.png">
		</a>
		<!--<a href="/auth/linkedin" class="undecorated-link">
			<img height="128" width="128" src="/modules/users/img/buttons/linkedin2.png">
		</a>-->
	</div>
</section>
