<div class="row" data-ng-controller="AddResourceController">
  <div class="col-lg-12">
    <h2>Add a Podcast</h2>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form">

          <div class="form-group">
            <label for="title" class="control-label">Podcast Title</label>
            <input type="text" ng-model="resource.title" class="form-control" id="title" placeholder="Podcast name here" />
          </div>
          <div class="form-group">
            <label for="subtitle" class="control-label">Podcast Tagline</label>
            <input type="text" ng-model="resource.subtitle" class="form-control" id="subtitle" placeholder="Podcast subtitle or tagline here (Optional)" />
          </div>
          <div class="form-group">
            <label for="type" class="control-label">Type</label>
            <select ng-model="selectedResourceType">
              <option ng-repeat="t in resourceTypes">
                {{t.id}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="url" class="control-label">URL</label>
            <input type="text" ng-model="resource.url" class="form-control" id="url" placeholder="Podcast website" />
          </div>
          <div class="form-group">
            <label for="feedUrl" class="control-label">RSS Feed</label>
            <input type="text" ng-model="resource.feedUrl" class="form-control" id="feedUrl" placeholder="URL of the RSS Feed for the website" />
          </div>
          <div class="form-group">
            <label for="description" class="control-label">Podcast Description</label>
            <textarea rows="4" ng-model="resource.description" class="form-control" id="description" placeholder="Enter a description (Optional)"></textarea>
          </div>
          <div class="form-group">
            <label for="authors" class="control-label">Hosts</label>
            <input type="text" ng-model="resource.authors" class="form-control" id="authors" placeholder="Comma separated list of podcast hosts (Optional)" />
          </div>
          <div class="form-group">
            <label for="topics" class="control-label">Topics</label>
            <input type="text" ng-model="userTopics" class="form-control" id="topics" placeholder="Comma separated list of topics frequently covered by the show (Optional)" />
          </div>
          <input type="submit" class="btn btn-default" value="Save" ng-click="addResource()" />

        </form> <!-- end form -->
      </div><!-- end panel-body -->
    </div><!-- end panel -->
  </div><!-- end col-lg-12 -->
</div><!-- end row -->
<script>
  $("select").select2({
    width: '200px',
    minimumResultsForSearch: Infinity
  });
</script>
