<div class="row" data-ng-controller="AddResourceController">
  <div class="col-lg-12">
    <h2>Add a Podcast</h2>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form" name="addPodcastForm" novalidate>

          <div class="alert alert-danger" role="alert" ng-show="errorState">There was an error adding this podcast. It may already exist. Ensure all non-optional fields are filled out.</div>

          <div class="form-group" ng-class="{ 'has-error' : addPodcastForm.title.$invalid && !addPodcastForm.title.$pristine}">
            <label for="title" class="control-label">Podcast Title</label>
            <input type="text" ng-model="resource.title" class="form-control" name="title" placeholder="Podcast name here" required/>
          </div>
          <div class="form-group">
            <label for="subtitle" class="control-label">Podcast Tagline</label>
            <input type="text" ng-model="resource.subtitle" class="form-control" name="subtitle" placeholder="Podcast subtitle or tagline here (Optional)" />
          </div>
          <div class="form-group" ng-class="{ 'has-error' : addPodcastForm.type.$invalid && !addPodcastForm.type.$pristine}">
            <label for="type" class="control-label">Type</label>
            <select ng-model="selectedResourceType" ng-init="selectedResourceType = resourceTypes[0]" name="type" required>
              <option ng-repeat="t in resourceTypes">
                {{t.id}}
              </option>
            </select>
            <!--<select name="type"
              ng-model="selectedResourceType"
              ng-options="resType.name for resType in resourceTypes"
              ng-init="selectedResourceType = resourceTypes[0]"
              required>
            </select>-->
          </div>
          <div class="form-group" ng-class="{ 'has-error' : addPodcastForm.url.$invalid && !addPodcastForm.url.$pristine}">
            <label for="url" class="control-label">URL</label>
            <input type="url" ng-model="resource.url" class="form-control" name="url" placeholder="Podcast website" required/>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : addPodcastForm.feedUrl.$invalid && !addPodcastForm.feedUrl.$pristine}">
            <label for="feedUrl" class="control-label">RSS Feed</label>
            <input type="url" ng-model="resource.feedUrl" class="form-control" name="feedUrl" placeholder="URL of the RSS Feed for the website" required/>
          </div>
          <div class="form-group">
            <label for="description" class="control-label">Podcast Description</label>
            <textarea rows="4" ng-model="resource.description" class="form-control" name="description" placeholder="Enter a description (Optional)"></textarea>
          </div>
          <div class="form-group">
            <label for="authors" class="control-label">Hosts</label>
            <input type="text" ng-model="authors" class="form-control" name="authors" placeholder="Comma separated list of podcast hosts (Optional)" />
          </div>
          <div class="form-group">
            <label for="topics" class="control-label">Topics</label>
            <input type="text" ng-model="topics" class="form-control" name="topics" placeholder="Comma separated list of topics frequently covered by the show (Optional)" />
          </div>
          <input type="submit" class="btn btn-default outline" value="Save" ng-click="addResource()" ng-disabled="addPodcastForm.$invalid"/>

        </form> <!-- end form -->
      </div><!-- end panel-body -->
    </div><!-- end panel -->
  </div><!-- end col-lg-12 -->
</div><!-- end row -->
<script>
  $("select").select2({
    width: '200px',
    minimumResultsForSearch: Infinity
  });
</script>
