<div class="row" data-ng-controller="AllResourcesController" data-ng-init="getResources()">

  <div class="col-md-12" >
    <input ng-model="query" class="form-control input-md" placeholder="Enter term to filter the results by"/>
  </div>

  <hr />
  <div class="col-md-12" ng-include="'modules/discover/views/resourceList.client.view.html'">
  </div>

  <hr />
  <div class="col-md-12 pull-right">
    <pagination total-items="totalItems" items-per-page="50" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>

</div>
