<div data-ng-controller="HomeController" class="centering">
  <div class="jumbotron">
    <div class="container">
      <h1>Search for<small> ...</small></h1>
      <p>
        keywords, podcast titles, hosts / guests, topics, technologies, episodes, etc.
      </p>
      <form ng-submit="execSearch()">
        <div class="inner-addon right-addon">
          <i class="glyphicon glyphicon-search"></i>
          <input class="form-control input-lg search-box" ng-model="query"></input>
        </div>
      </form>

      <div id="search-more-opts" class="text-center">
        <a  href="#!/podcasts" class="btn btn-success btn-lg" id="search-more-opts-all">
          <span class="glyphicon glyphicon-list"></span> &nbsp;
          View All
        </a>
        <a  href="#!/topics" class="btn btn-info btn-lg" id="search-more-opts-tags">
          <span class="glyphicon glyphicon-tags"></span> &nbsp;
          View by Tag
        </a>
      </div>

    </div>
  </div>
</div>
