<div class="row" data-ng-controller="ResourceController">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="col-md-5">
          <h2>{{resource.title}}</h2>
          <p>
            {{resource.subtitle}}
          </p>
          <br>

          <p class="greyed" ng-show="resource.authors[0] !== ''">
            <span class="glyphicon glyphicon-leaf" aria-hidden="true" ng-show="podcast.authors[0] !== ''"></span>
            {{resource.authors.join(", ")}}
          </p>
          <p class="greyed">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            {{resource.lastPublishDate | relativeDate }}
          </p>
          <br>
        </div>

        <div class="col-md-7">
          <img ng-src="{{resource.artworkUrl || 'modules/discover/img/orange_podcast_icon.png'}}"
          alt="{{resource.title}}" height="200px" width="200px" class="center-block">
        </div>

        <div class="col-md-12" ng-show="resource.subtitle !== resource.description">
          <br>
          <p>
            {{resource.description}}
          </p>
        </div>

        <div class="col-md-12"><hr></div>

        <div class="col-md-6">
          <div class="list-group resource-entry">
            <a ng-href="#!/podcasts/{{resource._id}}/{{entry._id}}" ng-repeat="entry in entries" class="list-group-item" ng-class="{'active': entry._id === selectedEntryId}">
              <h6>{{entry.title}}</h6>
              <p>
                <small>{{entry.pubDate | relativeDate}}</small>
              </p>
            </a>
          </div>
        </div>

        <div class="col-md-6" id="episode">
          <div class="resource-entry resource-entry-details" ng-show="selectedEntry !== undefined">
            <h4>{{selectedEntry.title}}</h4>
            <p class="greyed">
              {{selectedEntry.pubDate | relativeDate}}
              {{selectedEntry.authors.join(", ")}}
            </p>

            <hr>

            <audio ng-src="{{selectedEntry.enclosure | trusted}}" preload="metadata" class="center-block"
              ng-show="selectedEntry.enclosure.indexOf('.mp3') !== -1 || selectedEntry.enclosure.indexOf('.m4a') !== -1" controls>
              <p>Your browser does not support the <code>audio</code> element.</p>
            </audio>

            <video ng-src="{{selectedEntry.enclosure | trusted}}" preload="metadata" class="center-block"
              ng-show="selectedEntry.enclosure.indexOf('.mp4') !== -1" controls>
              Your browser does not support the <code>video</code> element.
            </video>

            <a href="{{selectedEntry.enclosure}}" target="_blank"
             ng-show="selectedEntry.enclosure.indexOf('.mp3') == -1 && selectedEntry.enclosure.indexOf('.mp4') == -1 && selectedEntry.enclosure.indexOf('.m4a') == -1">
              <img src="modules/discover/img/play_icon128.png" class="center-block" height="64px" width="64px">
            </a>

            <hr>

            <div ng-bind-html="selectedEntry.description"></div>
          </div>
        </div>

      </div> <!-- end panel-body -->
    </div> <!-- end panel -->

  </div>
</div>  <!-- end row -->
