<ul class="podcasts" data-ng-controller="ResourceListController">
  <li ng-repeat="podcast in items | filter: enableFilter && query">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-2 col-sm-3 col-xs-5">
            <a href="#!/podcasts/{{podcast.resourceId || podcast._id}}"> <img ng-src="{{podcast.artworkUrl || 'modules/discover/img/orange_podcast_icon.png'}}"
            alt="{{podcast.title}}" height="180px" width="180px"></a>
          </div>
          <div class="col-lg-10 col-sm-9 col-xs-7">
            <h4><a href="#!/podcasts/{{podcast.resourceId || podcast._id}}" class="unstyled-link">
              {{podcast.title}}
            </a></h4>
            <span class="label" ng-class="podcast.type == 'entry' ? 'label-primary' : 'label-info' ">{{podcast.type | displayType}}</span>
            <p>
              {{podcast.subtitle || podcast.description | limitTo: descCharCount}} {{podcast.description.length > descCharCount ? '...' : ''}}
            </p>
            <br>
            <div class="col-sm-6 greyed">
              <span class="glyphicon glyphicon-leaf" aria-hidden="true"
              ng-show="podcast.authors[0] !== ''"></span>
              {{podcast.authors.join(", ")}}
            </div>
            <div class="col-sm-3 greyed">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
              {{podcast.publishDate || podcast.lastPublishDate | relativeDate }}
            </div>
          </div>
        </div> <!-- end row-->

      </div> <!-- end panel-body -->
    </div><!-- end panel -->
  </li>
</ul>

<div ng-show="items.length == 0">
  <h4 class="text-center greyed">Nothing found. Please try your search again</h4>
</div>
