<div class="row" data-ng-controller="SearchResultsController" data-ng-init="getSearchResults()">

  <form ng-submit="execSearch()">
    <div class="col-lg-12">
      <div class="inner-addon right-addon">
        <i class="glyphicon glyphicon-search"></i>
        <input class="form-control input-lg search-box" ng-model="query" placeholder="search for something..."></input>
        <br>
      </div>
    </div>
  </form>

  <div class="col-md-12" ng-include="'modules/discover/views/resourceList.client.view.html'">
  </div>

  <!--<hr />
  <div class="col-md-12 pull-right">
    <pagination total-items="items.length" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()" ng-show="items.length > pageSize"></pagination>
  </div> -->

</div>
